name: Add User API Token

on:
  workflow_dispatch:
    inputs:
      overwrite_token:
        description: 'Set to true to overwrite an existing token'
        required: false
        default: "false"

jobs:
  add-token:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Copy installation script to remote server
        uses: appleboy/scp-action@v1
        with:
          host: ${{ vars.EXTERNAL_IP_OR_DOMAIN }}
          username: ${{ vars.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ vars.SSH_PORT }}
          source: "add-user-api-token/script.sh"
          target: "~/"

      - name: Execute installation script on remote server via SSH
        uses: appleboy/ssh-action@v1.2.1
        with:
          host: ${{ vars.EXTERNAL_IP_OR_DOMAIN }}
          username: ${{ vars.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ vars.SSH_PORT }}
          script: |
            export OVERWRITE_TOKEN="${{ github.event.inputs.overwrite_token }}"
            chmod +x ~/add-user-api-token/script.sh
            ~/add-user-api-token/script.sh
