name: Install Tailscale on Server

on:
  workflow_dispatch:


jobs:
  install-tailscale:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Copy installation script to remote server
        uses: appleboy/scp-action@v1
        with:
          host: ${{ vars.EXTERNAL_IP_OR_DOMAIN }}
          username: ${{ vars.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ vars.SSH_PORT }}
          source: "install-tailscale-vpn/script.sh"
          target: "~/"

      - name: Execute installation script on remote server via SSH
        uses: appleboy/ssh-action@v1.2.1
        with:
          host: ${{ vars.EXTERNAL_IP_OR_DOMAIN }}
          username: ${{ vars.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ vars.SSH_PORT }}
          script: |
            chmod +x ~/install-tailscale-vpn/script.sh
            # Set environment variables and then run the script
            export TAILSCALE_HOSTNAME="${{ vars.TAILSCALE_HOSTNAME }}"
            export TAILSCALE_EXIT_NODE="${{ vars.TAILSCALE_EXIT_NODE }}"
            export TAILSCALE_AUTH_KEY="${{ secrets.TAILSCALE_AUTH_KEY }}"
            ~/install-tailscale-vpn/script.sh
